In [1]:
import os
import csv
import zipfile
import string
import pandas as pd

In [2]:
path = os.path.join('..\Datasets\Raw_Data\Calls_for_Service')

In [3]:
filenames = os.listdir(path)

In [4]:
dfs = []
for f in filenames:
    zf = zipfile.ZipFile(os.path.join(path,f)) 
    dfs.append(pd.read_csv(zf.open(string.replace(f, 'zip', 'csv')), ))

In [5]:
dataframe = pd.concat(dfs, ignore_index=True)

In [6]:
dataframe.head()

,BLOCK_ADDRESS,Beat,Disposition,DispositionText,InitialPriority,InitialType,InitialTypeText,Location,MapX,MapY,...,PoliceDistrict,Priority,SelfInitiated,TimeArrive,TimeClosed,TimeCreate,TimeDispatch,TypeText,Type_,Zip
0,007XX S Dupre St,NaN,NAT,NECESSARY ACTION TAKEN,NaN,NaN,NaN,"(29.961547427694992, -90.09455728362126)",3673089.0,533629.0,...,1,1F,NaN,NaN,01/01/2011 12:00:03 AM,01/01/2011 12:00:02 AM,NaN,MUNICIPAL ATTTACHME,17M,70119.0
1,007XX S Dupre St,NaN,NAT,NECESSARY ACTION TAKEN,NaN,NaN,NaN,"(29.961547427694992, -90.09455728362126)",3673089.0,533629.0,...,1,1F,NaN,NaN,01/01/2011 12:00:04 AM,01/01/2011 12:00:02 AM,NaN,MUNICIPAL ATTTACHME,17M,70119.0
2,007XX S Dupre St,NaN,NAT,NECESSARY ACTION TAKEN,NaN,NaN,NaN,"(29.961547427694992, -90.09455728362126)",3673089.0,533629.0,...,1,1F,NaN,NaN,01/01/2011 12:00:04 AM,01/01/2011 12:00:02 AM,NaN,MUNICIPAL ATTTACHME,17M,70119.0
3,007XX S Dupre St,NaN,NAT,NECESSARY ACTION TAKEN,NaN,NaN,NaN,"(29.961547427694992, -90.09455728362126)",3673089.0,533629.0,...,1,1F,NaN,NaN,01/01/2011 12:00:04 AM,01/01/2011 12:00:02 AM,NaN,MUNICIPAL ATTTACHME,17M,70119.0
4,007XX S Dupre St,NaN,NAT,NECESSARY ACTION TAKEN,NaN,NaN,NaN,"(29.961547427694992, -90.09455728362126)",3673089.0,533629.0,...,1,1F,NaN,NaN,01/01/2011 12:00:05 AM,01/01/2011 12:00:02 AM,NaN,MUNICIPAL ATTTACHME,17M,70119.0