# Introduction

The below script helps generate beat values for Stop and search file. We load data from Calls_for_service file and merge with data from Stop_and_Search file. 

Following constraints are applied:
- Records year range = 2012 - 2016

# Index

- [1. Libraries](#1.-Libraries)
- [2. Data Loading](#2.-Data-Loading)
    - [A. Load Calls-for-Service (CFS) Data](#A.-Load-Calls-for-Service-Data)    
    - [B. Load Stop and Search Data](#B.-Load-Stop-and-Search-Data)
    - [C. Filter Records for Year 2012 to 2016](#C.-Filter-Records-for-Year-2012-to-2016)  
- [3. Get beat for SNS](#3.-Get-beat-for-SNS)

# 1. Libraries

Following libraries are required for this code to run successfully.

In [1]:
import os
import csv
import zipfile
import string
import datetime
import pandas as pd

# 2. Data Loading

In this section we load following files:
- Calls_for_Service Data
- Stop_and_Search__Field\_Interviews_ Data

And perform required data manipulation steps.

## A. Load Calls-for-Service Data

In [2]:
# Set location of file
path = os.path.join("..\\Datasets\\Raw_Data\\Calls_for_Service\\")
path

'..\\Datasets\\Raw_Data\\Calls_for_Service\\'

In [3]:
# Get filenames
filenames = os.listdir(path)
filenames

['Calls_for_Service_2012.zip',
 'Calls_for_Service_2013.zip',
 'Calls_for_Service_2014.zip',
 'Calls_for_Service_2015.zip',
 'Calls_for_Service_2016.zip']

In [17]:
# Load data from files in list
dfs = []
for f in filenames:
    zf = zipfile.ZipFile(os.path.join(path,f)) 
    dfs.append(pd.read_csv(zf.open(str.replace(f, 'zip', 'csv')),))

# Merge all df in list
cfs_df = pd.concat(dfs, ignore_index=True)

# Change datatype of column Type_ to String
cfs_df.Type_ = cfs_df.Type_.apply(str)

In [18]:
# Display top 5 rows
cfs_df.head()

,NOPD_Item,Type_,TypeText,Priority,InitialType,InitialTypeText,InitialPriority,MapX,MapY,TimeCreate,...,TimeArrive,TimeClosed,Disposition,DispositionText,SelfInitiated,Beat,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000112,62A,"BURGLAR ALARM, SILEN",2C,NaN,NaN,NaN,3683627,532625,1/1/2012 0:00,...,NaN,1/1/2012 0:33,NAT,NECESSARY ACTION TAKEN,NaN,NaN,009XX Decatur St,70116.0,8,"(29.958469303316875, -90.0613152964016)"
1,A0000412,94,DISCHARGING FIREARMS,2B,NaN,NaN,NaN,3732996,562418,1/1/2012 0:00,...,1/1/2012 0:16,1/1/2012 0:30,UNF,UNFOUNDED,NaN,NaN,147XX Chef Menteur Hwy,70129.0,7,"(30.038788769111676, -89.90425047516077)"
2,A0000212,103,DISTURBANCE (OTHER),1C,NaN,NaN,NaN,3687688,548824,1/1/2012 0:01,...,1/1/2012 0:01,1/1/2012 0:19,NAT,NECESSARY ACTION TAKEN,NaN,NaN,038XX Gentilly Blvd,70122.0,3,"(30.002886229898206, -90.04791794333323)"
3,A0000712,21,COMPLAINT OTHER,1H,NaN,NaN,NaN,3670776,521242,1/1/2012 0:01,...,NaN,1/1/2012 0:20,NAT,NECESSARY ACTION TAKEN,NaN,NaN,Carondelet St & Napoleon Ave,70115.0,2,"(29.927555772946167, -90.10228161624175)"
4,A0000512,62A,"BURGLAR ALARM, SILEN",2C,NaN,NaN,NaN,3665739,549621,1/1/2012 0:01,...,1/1/2012 0:09,1/1/2012 1:55,NAT,NECESSARY ACTION TAKEN,NaN,NaN,002XX W Harrison Ave,70124.0,3,"(30.005736477457617, -90.11723146931276)"

In [19]:
# Number of records
len(cfs_df)

2252907

In [20]:
# Column Names
cfs_df.columns

Index([u'NOPD_Item', u'Type_', u'TypeText', u'Priority', u'InitialType',
       u'InitialTypeText', u'InitialPriority', u'MapX', u'MapY', u'TimeCreate',
       u'TimeDispatch', u'TimeArrive', u'TimeClosed', u'Disposition',
       u'DispositionText', u'SelfInitiated', u'Beat', u'BLOCK_ADDRESS', u'Zip',
       u'PoliceDistrict', u'Location'],
      dtype='object')

In [21]:
# Select required columns
cfs_beat = cfs_df[['NOPD_Item','Beat']]

In [22]:
# Display top 5 rows
cfs_beat.head()

  NOPD_Item Beat
0  A0000112  NaN
1  A0000412  NaN
2  A0000212  NaN
3  A0000712  NaN
4  A0000512  NaN

In [23]:
# Len NOPD Item
len(cfs_beat.NOPD_Item)

2252907

In [24]:
# Count of Null Beat records
len(cfs_beat[cfs_beat.Beat.isnull()])

969699

In [25]:
# Load missing beat values
filename = "../Datasets/Raw_Data/Shared_by_NOPD/2012 and 2013 CFS Item Number and Beat.csv"
df_beat = pd.read_csv(filename, header=None)

# Rename columns
df_beat.rename(columns={0:'NOPD_Item',1:'Beat'},inplace=True)

df_beat.head()

  NOPD_Item  Beat
0  A0000112  8C04
1  A0000113  5E01
2  A0000212  5P03
3  A0000213  4E04
4  A0000312  6I02

In [26]:
NOPD_Item_list = list(cfs_beat.NOPD_Item)
df_beat = df_beat[df_beat.NOPD_Item.isin(NOPD_Item_list)]
df_beat = df_beat[df_beat.Beat.notnull()]

In [27]:
df_beat.head()

  NOPD_Item  Beat
0  A0000112  8C04
1  A0000113  5E01
2  A0000212  5P03
3  A0000213  4E04
4  A0000312  6I02

In [28]:
# # Fill missing Beat Values
# for row in cfs_beat[cfs_beat.Beat.isnull()].iterrows():
#     if(row[1].NOPD_Item in list(df_beat.NOPD_Item)):
#         cfs_beat['Beat'].loc[cfs_beat.NOPD_Item == row[1].NOPD_Item] = \
#                     df_beat.Beat[df_beat.NOPD_Item == row[1].NOPD_Item].values[0]

In [29]:
cfs_beat = cfs_beat[cfs_beat.Beat.notnull()]

In [32]:
cfs_beat = cfs_beat.append(df_beat, ignore_index=True)

In [33]:
len(cfs_beat)

2245854

In [34]:
# Missing beat values 
2252907 - 2245854

7053

## B. Load Stop and Search Data

In [35]:
# Set location of file
sns_file_path = "..\\Datasets\\Raw_Data\\Stop_and_Search\\Stop_and_Search__Field_Interviews_.csv"

In [36]:
# Load the SNS Data
sns_df = pd.read_csv(sns_file_path)

C:\Users\Nikhil\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (1,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
# Display top 5 rows
sns_df.head()

,FieldInterviewID,NOPD_Item,EventDate,District,Zone,OfficerAssignment,StopDescription,ActionsTaken,VehicleYear,VehicleMake,...,SubjectWeight,SubjectEyeColor,SubjectHairColor,SubjectDriverLicState,CreatedDateTime,LastModifiedDateTime,Longitude,Latitude,Zip,BlockAddress
0,17415,NaN,01/01/2010 01:11:00 AM,6,E,6th District,TRAFFIC VIOLATION,NaN,2005.0,DODGE,...,160.0,Brown,Black,LA,01/01/2010 01:26:26 AM,NaN,0.0,0.0,NaN,NaN
1,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,NaN,...,140.0,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0.0,0.0,NaN,NaN
2,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,NaN,...,145.0,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0.0,0.0,NaN,NaN
3,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,NaN,...,140.0,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0.0,0.0,NaN,NaN
4,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,NaN,...,140.0,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0.0,0.0,NaN,NaN

In [38]:
sns_df.columns

Index([u'FieldInterviewID', u'NOPD_Item', u'EventDate', u'District', u'Zone',
       u'OfficerAssignment', u'StopDescription', u'ActionsTaken',
       u'VehicleYear', u'VehicleMake', u'VehicleModel', u'VehicleStyle',
       u'VehicleColor', u'SubjectID', u'SubjectRace', u'SubjectGender',
       u'SubjectAge', u'SubjectHasPhotoID', u'SubjectHeight', u'SubjectWeight',
       u'SubjectEyeColor', u'SubjectHairColor', u'SubjectDriverLicState',
       u'CreatedDateTime', u'LastModifiedDateTime', u'Longitude', u'Latitude',
       u'Zip', u'BlockAddress'],
      dtype='object')

In [39]:
len(sns_df.NOPD_Item)

430607

## C. Filter Records for Year 2012 to 2016

In [40]:
# Convert column type to datetime
sns_df.EventDate = pd.to_datetime(sns_df.EventDate)

In [41]:
# Apply filter for year range 2012-2016
sns_df = sns_df[(sns_df.EventDate >= datetime.date(2012,1,1)) \
                & (sns_df.EventDate < datetime.date(2017,1,1))]

In [42]:
max(sns_df.EventDate)

Timestamp('2016-12-31 23:25:00')

In [43]:
min(sns_df.EventDate)

Timestamp('2012-01-01 00:05:00')

In [44]:
# Unique NOPD Item
tot_sns = len(set(sns_df.NOPD_Item))
tot_sns

215854

# 3. Get beat for SNS

In [45]:
# Merge SNS and CFS Data
cfs_sns_df = pd.merge(sns_df, cfs_beat , how='left', on='NOPD_Item')

In [46]:
cfs_sns_df.head()

,FieldInterviewID,NOPD_Item,EventDate,District,Zone,OfficerAssignment,StopDescription,ActionsTaken,VehicleYear,VehicleMake,...,SubjectEyeColor,SubjectHairColor,SubjectDriverLicState,CreatedDateTime,LastModifiedDateTime,Longitude,Latitude,Zip,BlockAddress,Beat
0,98193,F0010411,2013-05-31 01:49:00,8,I,8th District,TRAFFIC VIOLATION,Stop Results: Citation issued;Subject Type: Dr...,1995.0,NISSAN,...,Brown,Brown,LA,06/01/2011 02:59:25 AM,NaN,-90.073191,29.956125,70112.0,Basin St & Canal St,NaN
1,98193,F0010411,2013-05-31 01:49:00,8,I,8th District,TRAFFIC VIOLATION,Stop Results: Citation issued;Subject Type: Dr...,1995.0,NISSAN,...,Brown,Brown,LA,06/01/2011 02:59:25 AM,NaN,-90.073191,29.956125,70112.0,Basin St & Canal St,NaN
2,148767,B0000012,2012-02-17 01:00:00,8,D,8th District,CALL FOR SERVICE,NaN,NaN,NaN,...,Brown,Black,LA,02/20/2012 06:25:32 AM,NaN,0.000000,0.000000,NaN,NaN,NaN
3,148767,B0000012,2012-02-17 01:00:00,8,D,8th District,CALL FOR SERVICE,NaN,NaN,NaN,...,Brown,Brown,LA,02/20/2012 06:25:32 AM,NaN,0.000000,0.000000,NaN,NaN,NaN
4,164605,E0187912,2012-05-02 08:11:00,2,F,Traffic,CALL FOR SERVICE,NaN,2010.0,HONDA,...,NaN,NaN,NaN,05/02/2012 08:13:11 AM,NaN,-90.112765,29.920468,70115.0,053XX Magazine St,2F03

In [47]:
# Unique NOPD Item
tot_sns_beat = len(set(cfs_sns_df.NOPD_Item[cfs_sns_df.Beat.notnull()]))
tot_sns_beat

213326

In [48]:
# Calculate % of records with beats
sns_beat_available = tot_sns_beat*100.0/tot_sns

In [49]:
# % of records missing beat
100 - sns_beat_available

1.1711619891222824

In [50]:
# Save the data
fullpath = "..\\Datasets\\Final_Data\\SNS_with_beat.csv"
cfs_sns_df.to_csv(fullpath, sep=',',  index = False)